<p>
  <label>
    <%= l(:label_plugin_gittoi_settings_file_max_size) %>
  </label>
  <%= text_field_tag 'settings[max_file_ssh_size]', @settings['max_file_ssh_size'] %>
</p>

<p>
  <label>
    <%= l(:label_plugin_gittoi_settings_ssh_public_dir) %>
  </label>
  <%= text_field_tag 'settings[dir_ssh_public]', @settings['dir_ssh_public'] %>
</p>
